.App {
    text-align: center;
}

.mannequinContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#mannequin {
    height: 90vh;
    background-size: cover;
    border: none;
    border-image: none;
    outline: none;

    aspect-ratio: auto;
    min-width: 100px;
    max-width: 800px;
    width: 30%;
    z-index: 1;
}

#mannequin img {
    height: 100%;
    width: 100%;
    z-index: 1;
}

/*#mannequin:hover {*/
/* url("./components/MannequinRollover.png")!
/*}*/

#menu {
    width: 10vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.menu-item {
    min-height: 10px;
    width: 100%;
    background-color: #f9c;
    border: 5px inset #f9e;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.menu-item:first-child {
    border-top-right-radius: 10px;
}

.menu-item:last-child {
    border-bottom-right-radius: 10px;
}

#dress-menu, #tops-menu, #bottoms-menu, #shoes-menu, #accessories-menu {
    cursor: pointer;
    flex-grow: 4;
}

#total {
    flex-grow: 10;
}

#checkout {
    cursor: pointer;
    flex-grow: 2;
}

#collapse {
    cursor: pointer;
    flex-grow: 1;
}

.logo {
    height: 10vh;
    display: inline-block;
    align-items: center;
    margin-top: 0.5rem;
}

.item-modal-item {
    background-color: #0000;

    min-width: 10px;
    min-height: 10px;
    position: absolute;
    z-index: 2;
    text-align: left;
}

#item-modal-name {
    left: 30vw;
    top: 10vh;
    width: 12vw;
    height: 5vh;
    font-family: "impact", "sans-serif";
    font-size: 2rem;
}

#item-modal-item-price {
    left: 30vw;
    top: 15vh;
    width: 12vw;
    height: 5vh;
    font-family: "impact", "sans-serif";
    font-size: 3rem;
}
.modalContainer {
  height: 40vh;
  margin-top: 10rem;
  border-radius: 1rem;
  background-color: #e7238d;
  width: 30vw;
}

.modalTitle {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  display: inline-block;
  padding-right: 3rem;
  font-size: xx-large;
}

#item-modal-size-dropdown {
    left: 30vw;
    top: 20vh;
    width: 12vw;
    height: 5vh;
    font-family: "impact", "sans-serif";
    font-size: 3rem;
}
.ImageContainer {
  overflow: auto;
  height: 68%;
  white-space: nowrap;
}

#item-modal-add-to-cart {
    left: 20vw;
    top: 90vh;
    min-width: 60vw;
    max-width: 90vw;
    height: 5vh;
    font-family: "impact", "sans-serif";
    font-size: 4vh;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    overflow: visible;
}

#item-modal-image > img {
    position: absolute;
    z-index: 2;
}
.productImage img {
  display: inline-block;
  width: 90%;
  margin-left: 0.2rem;
  object-fit: cover;
}

.searchBar {
  border-radius: 0.4rem;
  align-items: right;
  height: 2rem;
}

.modalHeader {
  width: 100%;
}
