.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#mannequin {
  height: 90vh;
  background-size: cover;
  border: none;
  border-image: none;
  outline: none;

  aspect-ratio: auto;
  min-width: 100px;
  max-width: 800px;
  width: 70%;
}

#menu {
  width: 10vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.menu-item {
  min-height: 10px;
  width: 100%;
  background-color: #f9c;
  border: 5px inset #f9e;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
  color: white;
}

.menu-item:first-child {
  border-top-right-radius: 10px;
}

.menu-item:last-child {
  border-bottom-right-radius: 10px;
}

#dress-menu, #tops-menu, #bottoms-menu, #shoes-menu, #accessories-menu {
  cursor: pointer;
  flex-grow: 4;
}

#total {
  flex-grow: 10;
}

#checkout {
  cursor: pointer;
  flex-grow: 2;
}

#collapse {
  cursor: pointer;
  flex-grow: 1;
}




