.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#mannequin {
  min-width: 373px;
  min-height: 500px;
  aspect-ratio: 0.74666;
  height: 90vh;
  background-image: url("mannequinBase.png");
  background-size: cover;
}

#menu {
  width: 10vw;
  height: 90vh;
  display: flex;
  flex-direction: column;

}

.menu-item {
  min-height: 10px;
  width: 100%;
  background-color: #ccc;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
}

#dress-menu, #tops-menu, #bottoms-menu, #shoes-menu, #accessories-menu {
  flex-grow: 4;
}

#total {
  flex-grow: 10;
}

#checkout {
  flex-grow: 2;
}

#collapse {
  flex-grow: 1;
}


